<% layout('./layout/page.ejs') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This project about such models like : Bella Hadid, Irina Shayk, Naomi Campbell</p>
    <img src="<%= picture %>" alt=""/>

